:root {
  --dark-blue: #0f172a;
  --default-blue: #162340;
  --default-text-white: #ffffff;
  --second-text-green: #2f8f50;
  --dark-text-gray: #9d9d9d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: var(--default-blue);
  color: var(--default-text-white);
}

a {
  text-decoration: none;
  color: var(--default-text-white);
}

main {
  padding: 2rem;
  max-width: 120rem;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  color: var(--second-text-green);
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

.nav {
  background-color: var(--dark-blue);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.navLinks {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 3s ease;
}

.navLinks a:hover {
  text-decoration: underline;
  color: var(--second-text-green);
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.avatar {
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.4);
}

.main-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main-description {
 font-size: 1.2rem;
 margin-bottom: 1rem;
 max-width: 600px;
}

.button {
  background-color: var(--second-text-green);
  color: var(--default-text-white);
  padding: .8rem 1.5rem;
  border-radius: 8px;
  display: inline-block;
  transition: backgroun-color 0.3s ease;
}

.button:hover {
  background-color: #23753e;
}

.project, .cardContent {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.projectImage, .imageCertification img{
  width: 30rem;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}