:root {
  --dark-blue: #0f172a;
  --default-blue: #162340;
  --default-text-white: #ffffff;
  --second-text-green: #2f8f50;
  --dark-text-gray: #9d9d9d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: var(--default-blue);
  color: var(--default-text-white);
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--default-text-white);
}

section p {
   max-width: 900px;
  text-align: justify;
}

h1, h2, h3 {
  font-weight: 500;
}

h2, h3 {
    color: var(--second-text-green);
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  margin-bottom: 1rem;
  margin: 0 auto 1.5rem;
}

span {
  color: var(--second-text-green);
  font-weight: bold;
}

.bgDark {
 width: 100vw;
  background-color: var(--dark-blue);
}

.nav {
  background-color: var(--dark-blue);
  padding: 1rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.menuToggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.menuToggle span{
  width: 25px;
  height: 3px;
  background-color: var(--default-text-white);
  transition: all 0.3s ease;
}

.navLinks {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  
}

.navLinks a {
 transition: all .3s ease;
}

.navLinks a:hover {
  color: var(--second-text-green);
}

.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 4.8rem auto 3.6rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.8rem;
}

.about h2{
  width: 50%;
  margin-top: 2.4rem;
}

.about p{
  max-width: 900px;
  text-align: justify;
}

#especial{
  text-align: center;
  margin-top: 2.4rem;
  color: var(--second-text-green);
  font-weight: bold;
}

.avatar {
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.4);
}
.description {
    max-width: 400px;
}

.mainTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.4;
  max-width: 100%;
  display: inline-block;
  text-align: left;
}

.highlightSubtitle {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--default-text-white); 
}

.mainDescription {
  flex-wrap: wrap;
 font-size: 1.2rem;
 margin-bottom: 1rem;
 width: 500PX;
}

.button {
  background-color: var(--second-text-green);
  color: var(--default-text-white);
  padding: .8rem 1.5rem;
  border-radius: 8px;
  display: inline-block;
  transition: backgroun-color 0.3s ease;
}

.button:hover {
  background-color: #23753e;
}

.focus {
  border: solid red;
}

.titleImgExperiênces {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 auto 1.5rem;
  gap: 1.5rem;
}

.experiences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.4rem;
}

.experiences h2{
   margin: 2.4rem auto 1.2rem;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience h3{
  margin: 1.2rem auto 0;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center p{
  max-width: 900px;
  text-align: justify;
}

.center h3{
  max-width: 900px;
  margin: 0 auto .5rem;
}

.project, .cardContent {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.projectTitle h3{
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.projectImage, .certification img{
  width: 60rem;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

.certification {
  gap: 1.5rem;
}

main p {
  font-size: 1.2rem;
  width: 80%;
}

.containerContact {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  margin-top: 1.5rem;
}

.containerContact img {
  width: 32px;
  margin-right: 1rem;
}

footer {
  text-align: center;
  padding: 2rem 0;
  background-color: var(--dark-blue);
  color: var(--default-text-white);
}

.footerSocial a img{
  width: 28px;
  margin: 0 0.6rem;
}

.sectionHidden {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.sectionVisible {
  opacity: 1;
  transform: translateY(0);
}
